<?xml version="1.0" encoding="UTF-8"?>

<suite name="Reqres Automation API" parallel="Classes">
    <test name="Test Automation">
        <classes>
            <class name="apiauto.unitPutNG" />
            <class name="apiauto.inputTesting" />
            <class name="apiauto.scannerTesting" />
            <class name="runner.NGRunner" />
        </classes>
    </test>
</suite>